/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

/* Button Styles */
button {
    width: 96%;
    padding: 10px;
    background-color: rgb(119, 111, 111);
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(23, 19, 19, 0.67);
}

/* Search Container Styles */
.search-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    color: #ffffff;
}

/* Student Information Styles */
.student-info {
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(119, 111, 111);
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.student-info p {
    margin: 5px 0;
    font-size: 18px;
    color: #333;
}

/* Input Styles */
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

/* Results Styles */
#results {
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#results div {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/* Error Message Styles */
.error {
    color: #9d8585; 
}

/* Responsive Styles for Small Screens */
@media screen and (max-width: 600px) {
    body {
        padding: 10px;
    }

    input[type="text"] {
        width: calc(100% - 20px);
    }
}
